<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<!--course stuffs-->

<body>
  <a href="/">Back</a>

  <div class="hero-page">
    <img class="hero" src="img/course_hero.png" width="fill">
    <h1 class="course-code">
      <%= subjectCode %> <%= courseId %>
    </h1>

    <h2 class="course-title">
      <%= title %>
    </h2>
    <p class="course-id">
      Course id: <%= courseId %>
    </p>
    <p class="term-code">
      Term code: <%= termCode %>
    </p>
  </div>

  <div class="body-content">
    <div class="inner-margin">
      <p><%= description %></p>

      <h2>Instructors</h2>
      <div><p style="float: left;"><img src="img/instructor-icon.jpg" height="50px" width="50px" ></p>
        <h2 style="margin-top: 30px;"><%= instructors %></h2>
        
      </div>

      <!--reviews-->

      <h1>Add Review</h1>
      <form action = "/reviews" method="post">
        <label for="easy">Easy Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="easy" name="easy"><br><br>

        <label for="interesting">Interesting Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="interesting" name="interesting"><br><br>

        <label for="liked">Liked Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="liked" name="liked"><br><br>

        <label for="useful">Useful Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="useful" name="useful"><br><br>

        <label for="well_structured">Well Structured Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="well_structured" name="well_structured"><br><br>

        <label for="rating">Overall Rating</label>
        <br><br>
        <input type="number" min="1" max="5" id="rating" name="rating"><br><br>

        <label for="description">Description</label>
        <br><br>
        <input type="text" id="description" name="description"><br><br>

        <div id="courseId" style="visibility: hidden"><%= courseId %></div>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
    <img class="hero" src="img/course_footer.png" width="fill">
  </body>
  </html>
