<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<!--course stuffs-->

<body>
  <a href="/">Home</a>

  <div class="hero-page">
    <img class="hero" src="img/course_hero.png">
    <div class="body-content">
      <h1 class="course-code">
        <%= subjectCode %> <%= catalogNumber %>
      </h1>
      <h2 class="course-title">
        <%= title %>
      </h2>
      <p class="course-id">
        Course id: <%= courseId %>
      </p>
      <p class="term-code">
        Term code: <%= termCode %>
      </p>
      <div class="overall-rating">
        <div class="inner-content">
          <h2 style="color: black;">Average rating: <%= avgRating %> / 5</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="body-content" style="margin-top: 40px;">
    <div class="card">
      <div class="container">
        <h2 >Course description:</h2>
        <p><%= description %></p>

        <br>
        <h2>Instructors:</h2>
        <div class="instructors-section">
          <img src="img/instructor-icon.jpg" height="50px" width="50px">
          <br>
          <% for (var i = 0; i < instructors.length ; i++) { %>
          <br>
          <div style="margin-left: 0px; font-size: 24px;"><%= instructors[i] %></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="body-content" style="margin-top: 80px;">
    <div class="card">
      <div class="container">
        <h2>Reviews</h2>
          <% for (var i = 0; i < reviews.length ; i++) { %>
          <h3>Review <%=i+1%></h3>
        <div class="ratings-in-line">
        <div><%= 'Easiness:' + ' '+ reviews[i]['easy'] %> / 5 </div>
        <div><%= 'Interesting:' + ' '+ reviews[i]['interesing'] %> / 5 </div>
        <div><%= 'Liked:' + ' '+ reviews[i]['liked'] %> / 5</div>
        <div><%= 'Useful:' + ' '+ reviews[i]['useful'] %> / 5</div>
        <div> <%= 'Well-structured:' + ' ' + reviews[i]['wellStructured'] %> / 5</div>
        </div>
          <br>
          <p> <b><%= 'Overall Rating:' + ' '+ reviews[i]['rating'] %> / 5</b> </p>

        <br>
        <%= 'Additional comments:' + ' ' + reviews[i]['description'] %>
        <br>
<br>
        <br>
          <% } %>

      </div>
    </div>
  </div>

  <!--Index reviews-->


  <!--Add reviews-->
  <div class="body-content" style="margin-top:80px;">
   <div class="card">
     <div class="container">
      <h2>Add your own review:</h2>
      <h3>Numerical ratings (1-5): </h3>
      <form action = "/reviews" method="post">
        <div class="ratings-in-line">
        <label for="easy">Easy</label>
        <input type="number" min="1" max="5" id="easy" name="easy">

        <label for="interesting">Interesting</label>
        <input type="number" min="1" max="5" id="interesting" name="interesting">

        <label for="liked">Enjoyable</label>
        <input type="number" min="1" max="5" id="liked" name="liked">

        <label for="useful">Useful</label>
        <input type="number" min="1" max="5" id="useful" name="useful">

        <label for="well_structured">Well Structured</label>
        <input type="number" min="1" max="5" id="well_structured" name="well_structured">

        <label for="rating">Overall</label>
        <input type="number" min="1" max="5" id="rating" name="rating">
        </div>

        <!--do not remove this!!-->
        <label for="courseName">Course</label>
        <br><br>
        <input type="text" id="courseName" readonly value=<%= subjectCode %><%= catalogNumber %>
        name="courseName"><br><br>

        <!--do not remove this!!-->

        <br>
        <h3>Additional comments:</h3>
        <input type="text" id="description" name="description" style="width: 100%; height: 56px;">


        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<img class="hero" src="img/course_footer.png" style="margin-top: 120px;">
</body>
</html>
