<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Back</a>
    <h1><%= title %></h1>
    <h1><%= subjectCode %></h1>
    <h1><%= subjectCode %></h1>
    <h1><%= courseId %></h1>
    <h1><%= description %></h1>
    <h1><%= termCode %></h1>
    <h1><%= instructors %></h1>
  </body>
</html>
