<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Back</a>

    <div class="hero-page">
        <img class="hero" src="img/course_hero.png" width="fill">
        <h1 class="course-code">
            <%= subjectCode %> <%= courseId %>
        </h1>
          
        <h2 class="course-title">
            <%= title %>
        </h2>
    </div>
    
    <div class="body-content">
      <p><%= description %></p>
    <h1><%= termCode %></h1>
    <h1><%= instructors %></h1>
    </div>  
  </body>
</html>
